.body {
  background-image: url(../assets/field.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.sections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#logo {
  height: 450px;
  width: 450px;
}

#leftImage {
  height: 150px;
  width: 150px;
}

#rightImage {
  height: 150px;
  width: 150px;
}

#regButSection {
  text-align: center;
}

#formSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formDiv {
  background-color: silver;
  display: none;
}

.inputDivs {
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 0;
}

.inputDivs label {
  width: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  font-size: 15px;
  margin: 10px 10px 10px 10px
}

#formSubDiv {
  text-align: center;
}

#regSubBut {
  width: 200px;
  background-color: silver;
  border: 2mm outset black;
  margin: 0 0 10px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  font-size: 15px;
}

#regBut {
  background: none;
  border: none;
}

#statText {
  color: white;
  text-align: center;
  font-family: "Stardos Stencil";
}

#clipboard {
  height: 400px;
  width: 350px;
}

.modAnn {
  animation: linear;
  animation-name: modAnn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes modAnn {
  0% {
    background: linear-gradient(dimgray 10%, white 20%, gray 10%);
  }

  20% {
    background: linear-gradient(dimgray 20%, white 30%, gray 20%);
  }

  30% {
    background: linear-gradient(dimgray 30%, white 40%, gray 30%);
  }

  40% {
    background: linear-gradient(dimgray 40%, white 50%, gray 40%);
  }

  50% {
    background: linear-gradient(dimgray 50%, white 60%, gray 50%);
  }

  60% {
    background: linear-gradient(dimgray 60%, white 70%, gray 60%);
  }

  70% {
    background: linear-gradient(dimgray 70%, white 80%, gray 70%);
  }

  80% {
    background: linear-gradient(dimgray 80%, white 90%, gray 80%);
  }

  100% {
    background: linear-gradient(dimgray 10%);
    border: outset 4mm black;
  }
}


.infoSection{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 30px 0 0 0;
}

.userInputs {
  text-align: center;
  border: 3px outset black;
  border-radius: 50%;
  background-image: url(../assets/football.png);
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Stardos Stencil";
  font-size: 2vw;
  height: 200px;
  width: 300px;
  color: white;
  font-size: 2vw;
}

.userInputs::placeholder {
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  font-family: "Stardos Stencil";
}

@media (max-width: 600px) {
  .userInputs::placeholder {
    font-size: 6vw;
  }

  .userInputs {
    font-size: 6vw;
  }
}


.butDiv {
  height: 100px;
}

.butAnn {
  animation: linear;
  animation-name: button;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes button {
  0% {
    transform: rotateY(180deg)
  }

}

.scoreAnn {
  animation: linear;
  animation-name: score;
  animation-duration: .25s;
  animation-iteration-count: 2;
}

@keyframes score {
  0% {
    transform: rotateX(180deg)
  }

}

.subButtons {
  background: none;
  border: none;

}

.butImg {
  /* border-radius: 50%; */
  width: 300px;
  height: 200px;
}

.pointsDiv {
  display: flex;
  justify-content: center;

}

.pointValuePlace {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 400px;
  height: 200px;
  background-image: url(../assets/scores.jpeg);
  background-size: cover;
  border: 4px solid white;
  border-radius: 100%;
  color: white;
  text-shadow: 3px 3px 3px black;
  font-family: "Stardos Stencil";
  font-size: 30px;
  margin: 20px 0 0 0;
}

#finScore {
  color: white;
  text-align: center;
  font-family: "Stardos Stencil";
}
#scoreRow{
  display: flex;
  justify-content: center;
}
#scoreBut{
  background: none;
  border: none;
}
#calcImg {
  border-radius: 50%;
  margin: 15px 0 0 0;
  border: 3mm outset black;
  height: 200px;
  width: 300px;
}