
.body{
    /* background-color:dimgray */
    background-image: url(../assets/NFLTop.png);
}
.headLetters{
  overflow: hidden;
    background:radial-gradient(white, dimgray);
    border: 4px solid navajowhite;
    border-radius: 30%;
    box-shadow: 3px 3px 3px black;
    font-family: "Stardos Stencil";
    text-shadow: 3px 3px 3px blue;
    font-size: 40px;
    color: red;
}
.modal{
  background-color: black;
}
.modal-header{
  background-image: url(../assets/NFLTop.png);
}
.modal-body{
/* background: radial-gradient(white,red); */
background-image: url(../assets/NFLTop.png);
}
#modFoot{
  
}
#modClose{
  background-color: chartreuse;
}
#regSubBut{
  background-color: chartreuse;
}
#regForm{
  width:400px;
}
label{
  font-family: "Stardos Stencil"; 
  font-size: 20px;
}
#regBut{
  background-color: white;
  width: 250px;
}

.pic{
    animation: linear;
    animation-name: picture;
    animation-duration:2s;
    animation-iteration-count: infinite;
  }
  @keyframes picture{
  from{
    border: 4px solid navajowhite;
    border-radius: 25%; 
    background: radial-gradient(red, white, blue)
  }
  to{
    border: 4px solid navajowhite;
    border-radius: 100%;
    background: radial-gradient(blue, white, red)
  }
  }
